
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }

  main {
    margin: 15px;
    padding: 15px;
  }

  img {
    max-width: 100%;
  }

  .card {
    margin: 10px 0;
  }

  form {
    gap: 15px;
  }
}

/* MENU HAMBÚRGUER  */

/* Botão do menu */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/*  MENU MOBILE*/
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }


  nav ul.menu {
    display: none;
    flex-direction: column;
    background-color: var(--cor-primaria); 
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 20px 0;
    gap: 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }

  
  nav ul.menu.active {
    display: flex;
  }

  nav ul.menu li {
    text-align: center;
  }

  /* Links do menu */
  nav ul.menu li a {
    color: white; 
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
  }

  nav ul.menu li a:hover {
    text-decoration: underline;
  }
}

/*MENU DESKTOP */
@media (min-width: 769px) {
  nav ul.menu {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  .menu-toggle {
    display: none;
  }
}
